rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Orders collection: Allow read and write for active dispatch and coordination between customer and partner
    match /orders/{orderId} {
      allow read, write: if true;
      
      match /messages/{messageId} {
        allow read, write: if true;
      }
    }
  }
}
